@import '../core/variables.scss';
@import '../core/mixins.scss';
@import '../core/animation.scss';

.footer {
  width: 100%;
  background: linear-gradient(
    #f8f8fa,
    $color-rrss,
    $colorProjects-desc,
    $color-rrss,
    #f8f8fa
  );
}
.footer_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

.footer_text1 {
  color: $colorFooter-h2;
  font-size: 50px;
}

.talk_container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 50vw;
  height: 30px;
}

.footer_text2 {
  color: $colorCover-h1;
  font-size: 25px;
  padding-right: 10px;
  font-weight: 800;
}

.talk_list {
  color: $colorCover-h1;
  font-size: 25px;
  animation: change 5s infinite;
}

.fa,
.fas {
  font-weight: 900;
}

.footerCover {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../images/footer.jpg');
  width: 100vw;
  margin-top: 1rem;
}

.arrowIcon {
  font-size: 20px;
  color: $color-rrss;
  margin: 1rem auto;
}

.rrss_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.rrss_link {
  color: $color-rrss;
}
.footerList_item {
  padding: 25px;
}

.footer hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  width: 40%;
  border-top: 2px solid $color-rrss;
}
.copy {
  font-size: 12px;
  color: white;
  margin-bottom: 1rem;
}
