@import '../core/variables.scss';
@import '../core/mixins.scss';
@import '../core/animation.scss';

.header {
  margin-bottom: 3rem;
  min-width: 360px;
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.cover {
  background-image: url('../../images/Judit.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 75vh;
  border-radius: 0 100% 100% 0/50%;
  @include tablet {
    width: 55vw;
    min-height: 100vh;
    background-position: 60%;
  }
}

.coverText {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  @include tablet {
    width: 45vw;
    height: 100vh;
    justify-content: space-between;
  }
}

.linkedin_insignia {
  display: none;
  @include tablet {
    opacity: 0.8;
    display: block;
    transform: scale(0.9);
  }
}
.cover_mainTitle {
  color: $colorCover-h1;
  font-size: 2rem;
  font-weight: 800;
  padding-top: 0;
  @include tablet {
    font-size: 33px;
    padding-top: 15rem;
  }
}

.cover_title {
  color: $colorCover-h2;
  font-size: 1.5rem;
  padding-bottom: 0.7rem;
  opacity: 0;
  transform: translateX(3rem);
  animation: fadeIn 2s ease forwards;
  @include tablet {
    font-size: 1.5rem;
    padding-bottom: 2.2rem;
  }
}

.cover_text {
  color: $colorCover-h1;
  word-spacing: 2px;
  position: relative;
  width: max-content;
  @include tablet {
    font-size: 1.4rem;
  }
  &:before {
    background: white;
    animation: typewriter 5s steps(25) 1.5s forwards;
    animation: typewriter $typewriterSpeed steps(25) 1.5s forwards;
  }
  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &::after {
    width: 0.125em;
    background: $colorCover-h1;
    animation: typewriter 5s steps(25) 1.5s forwards,
      blinkCursor 0.75s steps(25) infinite;
    animation: typewriter $typewriterSpeed steps($typewriterCharacters) 1.5s
        forwards,
      blinkCursor 0.75s steps($typewriterCharacters) infinite;
  }
}
