@import '../core/mixins.scss';
@import '../core/variables.scss';

.button_back {
  float: right;
  margin-left: 1rem;
  padding: 1px 6px;
  border-radius: 6px;
  border-width: 2px;
  background-image: linear-gradient(to right, $grey 0%, $color-rrss  51%, $grey  100%);
  background-size: 200% auto; 
   color: $dark_grey; 
   transition: 0.5s;
}


 .button_back:hover {
   background-position: right center; 
 }
