@import '../core/variables.scss';
@import '../core/mixins.scss';

.nav {
  position: fixed;
  padding: 0.5rem 0;
  width: 100%;
  background-color: $bg-color-nav;
}
.navList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
}
.button_es {
  margin-right: 8px;
}
.button {
  background-color: #fdfdfd;
  border: 2px solid #fdfdfd;
  border-radius: 15%;
  color: $colorCover-h1;
  font-weight: 900;
}
.navItem {
  padding-bottom: 5px;
  font-weight: 700;
  word-spacing: 4px;
  @include tablet {
    letter-spacing: 3px;
  }
}
.nav_link {
  color: #fdfdfd;
}

//---------------PENDING -------------------------
.selected-link {
  color: $colorCover-h1;
  font-weight: bolder;
  font-size: larger;
}
