@import '../core/variables.scss';
@import '../core/mixins.scss';

.nav {
  position: fixed;
  padding: 0.5rem 0;
  width: 100%;
  background-image: url('../../images/footer.jpg');
}
.navList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.button_es {
  margin-right: 8px;
}
.button {
  cursor: pointer;
  background-color: #fdfdfd;
  border: 2px solid #fdfdfd;
  border-radius: 15%;
  color: $colorCover-h1;
  font-weight: 900;
}
.navItem {
  cursor: pointer;
  padding-bottom: 5px;
  font-weight: 700;
  word-spacing: 4px;
  @include tablet {
    letter-spacing: 3px;
  }
}
.nav_link {
  color: #fdfdfd;
}

.nav_link,
.nav_link:focus,
.nav_link:hover {
  color: #fdfdfd !important;
}
