@import '../core/mixins.scss';
@import '../core/variables.scss';

.modal {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; //en vez de 100vw
  height: 100%; //en vez de 100vh
  text-align: center;
  background-color: #eeec;
  @include tablet {
    text-align: initial;
  }
}

.modal.modal__hidden {
  display: none;
}

.modal__dialog {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  padding: 1rem;
  border-radius: 0.5rem;
  border: solid 3px #ccc;
  background-color: #fff;
  margin-bottom: 4rem;
}

.modal__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
  background-color: white;
  @include tablet {
    flex-direction: row-reverse;
  }
  &--title {
    padding-top: 0.5rem;
    font-size: 1rem;
    @include tablet {
      font-size: initial;
    }
  }
}
.modal__section {
  font-size: 0.8rem;
  @include tablet {
    font-size: initial;
  }
}
.modal__close {
  margin-left: 2rem;
}

.modal__footer {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
}

.modal__section .link_download {
  border-radius: 0.625rem;
  background-color: $colorMain-h2;
  color: $colorCover-h1;
  /* new------------------------------- */
  background-image: linear-gradient(to right, $colorMain-h2 0%, $color-rrss  51%, $colorMain-h2  100%);
  background-size: 200% auto; 
   color: $dark_grey; 
   transition: 0.5s;
  /* new------------------------------- */
  padding: 0.8rem;
  margin: 0.3rem;
  text-decoration: none;
  font-size: 1rem;
  @include tablet {
    padding: 1rem;
    margin: 0.5rem;
    font-size: 1.5rem;
  }
}

.modal__section .link_download:focus,
.modal__section .link_download:hover {
  color: #fdfdfd;
  text-decoration: none;
  opacity: 0.6;
  transform: scale(1.1);
  background-position: right center; /* pendiente------------------- */
}