@import '../core/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-rrss;
}

a:focus,
a:hover {
  text-decoration: none;
  opacity: 0.6;
  transform: scale(1.2);
}

.hidden {
  display: none;
}
