//colors
$colorCover-h1: #25478b;
$colorCover-h2: rgba(30, 130, 218, 0.8352941176470589);
$bg-color-nav: rgba(30, 130, 218, 0.8352941176470589);
$colorMain-h2: #4466ac;
$colorMain-h3: rgba(15, 128, 228, 0.9254901960784314);
$colorAbout-tech: rgba(240, 180, 160, 0.6588235294117647);
$colorProjects-titleItem: rgba(30, 130, 218, 0.8352941176470589);
$colorProjects-desc: rgba(167, 200, 230, 0.835);
$colorProjects-icon: rgba(240, 180, 160, 0.9372549019607843);
$colorFooter-h2: rgba(68, 103, 172, 0.7254901960784313);
$color-rrss: #eaecf1;
$typewriterSpeed: 5s;
$typewriterCharacters: 25;
