//colors
$colorCover-h1: #25848b;
$colorCover-h2: rgba(30, 196, 218, 0.835);
$bg-color-nav: rgba(30, 218, 209, 0.835);
$colorMain-h2: #4494ac;
$colorMain-h3: rgba(15, 221, 228, 0.925);
$colorAbout-tech: rgba(172, 160, 240, 0.659);
$colorProjects-titleItem: rgba(30, 205, 218, 0.835);
$colorProjects-desc: rgba(167, 230, 222, 0.835);
$colorProjects-icon: rgba(160, 168, 240, 0.937);
$colorFooter-h2: rgba(68, 130, 172, 0.725);
$color-rrss: #eaecf1;
$typewriterSpeed: 5s;
$typewriterCharacters: 25;
$grey: #757f9a69;
$dark_grey: #757F9A;
